// "Contact Us" section

section.contact-us {
	@include margin-std;

	.xdsoft_inline {
		margin-bottom:12px;
		// width:100%;
		@media #{$small-only} {
			
		}
	}

	.no-appointment {
		margin-right:20px;
		margin-top:10px;
	}

	#message2 {
		min-height:150px;
	}

}