// Header

header {
	// background: rgba($primary-color, 0.2);
	// border-bottom: 1px solid $primary-color;
	background: linear-gradient(to bottom, rgba($primary-color, 0.7) 0%, rgba($primary-color, 0) 100%);
	padding: 15px 0;
	// margin-bottom: 150px;

	ul.inline-list {
		margin-top: 15px;
		li a {
			color: #FFF;
			border-bottom: 3px solid transparent;
			@include transition-std;
		}
		li.active a, li:hover a {
			border-bottom: 3px solid $secondary-color;
		}
	}
}