// "Our Computers" Section

section.our-computers {
	@include margin-std;
	span.label {
		font-size: 1rem;
	}

	.computers {
		margin-bottom: 20px;
		a {
			display: inline-block;
			border: 3px solid transparent;
			@include transition-std;

			&.active, &:hover {
				border: 3px solid $secondary-color;
			}
		}
	}

	.addons {
		.small.button {
			font-size:24px;
			padding:5px 15px;
		}
	}	

	h4.computer-name span.label {
		margin-left: 15px;
	}
}