<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>EDGE PCs - All your computer solutions in one place!</title>
	<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,400italic,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/app.css" />
	<link rel="shortcut icon" href="/favicon.ico">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
	<script src="bower_components/modernizr/modernizr.js"></script>
</head>
<body ng-app>
	<section class="page-header">
		<header>
			<div class="row">
				<section class="large-3 small-12 columns">
					<a href="#" class="logo"><img src="build/images/logo.png" alt="EDGE PCs"></a>
				</section>
				<nav class="large-6 hide-for-small columns">
					<ul class="inline-list right" data-magellan-expedition="fixed">
						<li data-magellan-arrival="home"><a href="#home">Home</a></li>
						<li data-magellan-arrival="computers"><a href="#computers">Our Computers</a></li>
						<li data-magellan-arrival="repairs"><a href="#repairs">Repairs <em>&amp;</em> Support</a></li>
						<li data-magellan-arrival="contace"><a href="#contact">Contact Us</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div class="overlay">
			
			<div class="row">
				<section class="large-8 columns hero">
					<a name="home"></a>
					<h1 data-magellan-destination="home">Affordable, reliable computer services <em>&amp;</em> sales for the <span>Gold Coast.</span></h1>
					<hr class="small">
					<p>If you're in dire need for some computer support or want a new computer at a decent and affordable price then we'd be glad to assist you in the best we can! Please contact us using the contact form or give us a call on 0403 067 489 for Matt or 0400 105 767 for Hayden for a <strong>FREE QUOTE</strong>. We are located on the Gold Coast and we drive to you.</p>
					<p class="show-for-large"><a href="#" class="button">Read more</a> or if you're in a rush, get in touch &rarr;</p>
					<p class="show-for-medium-down"><a href="#" class="button">Read more</a> or if you're in a rush, get in touch &darr;</p>
				</section>
				<section class="large-4 columns enquiry-form">
					
					<form parsley-validate action="includes/send_email_quick.php" method="post" enctype="multipart/form-data" class="safe verify captcha">
						<div class="row">
							<div class="small-9 small-offset-3 columns">
								<h3>Get in touch now</h3>
							</div>
						</div>
						<div class="row">
							<div class="small-3 columns">
								<label for="name" class="inline">Name</label>
							</div>
							<div class="small-9 columns">
								<input type="text" required name="name" id="name" placeholder="eg. Joe Blogs">
							</div>
						</div>
						<div class="row">
							<div class="small-3 columns">
								<label for="email" class="inline">Email</label>
							</div>
							<div class="small-9 columns">
								<input type="email" required parsley-email name="email" id="email" placeholder="eg. joe@ineedhelp.com">
							</div>
						</div>
						<div class="row">
							<div class="small-3 columns">
								<label for="enquiry-type" class="inline">Enquiry</label>
							</div>
							<div class="small-9 columns">
								<select name="type" id="enquiry-type">
									<option>General Computer Support</option>
									<option>Computer Repair</option>
									<option>New Computer</option>
									<option>Remote Support</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="small-3 columns">
								<label for="message" class="inline">Message</label>
							</div>
							<div class="small-9 columns">
								<textarea name="message" id="message" placeholder="Please leave message here"></textarea>
							</div>
						</div>
						<div class="row">
							<div class="small-12 columns">
								<input type="submit" name="Submit" class="right button">
							</div>
						</div>						

						
					</form>
				</section>
			</div>
		</div>
	</section>

	<section class="our-computers" ng-controller="computerBuild">
		<div class="row">
			<div class="large-12 columns">
				<a id="computers"></a>
				<h2 data-magellan-destination="computers">Our Computers</h2>
				<hr class="small">
				<div class="row computers">
					<div class="large-2 columns">
						<h5>Everyday</h5>
						<hr>
						<a ng-click="getInfo($event)"><img class="comp-image" alt=""></a>
					</div>
					<div class="large-4 columns">
						<h5>Business</h5>
						<hr>
						<div class="row">
							<div class="small-6 columns">
								<a ng-click="getInfo($event)"><img class="comp-image" alt=""></a>
							</div>
							<div class="small-6 columns">
								<a ng-click="getInfo($event)"><img class="comp-image" alt=""></a>
							</div>
						</div>

					</div>
					<div class="large-4 columns">
						<h5>Gaming</h5>
						<hr>
						<div class="row">
							<div class="small-6 columns">
								<a ng-click="getInfo($event)"><img class="comp-image" alt=""></a>
							</div>
							<div class="small-6 columns">
								<a ng-click="getInfo($event)"><img class="comp-image" alt=""></a>
							</div>
						</div>
					</div>
					<div class="large-2 columns">
						<h5>Custom</h5>
						<hr>
						<a ng-click="getInfo($event)"><img src="http://placehold.it/350" alt=""></a>
					</div>
				</div>
				<hr>
				<div class="row" ng-cloak class="ng-cloak">
					<div class="large-8 columns">
						<h4 class="computer-name">{{currentcomputer.title}} <span class="label">{{(currentcomputer.price | currency) || currentcomputer.price}}</span></h4>
						<p class="computer-desc">{{currentcomputer.desc}}</p>
						<div class="computer-specs" ng-show="showspecs" ng-cloak class="ng-cloak">
							<div class="row" ng-repeat="spec in currentcomputer.specs">
								<div ng-repeat="(key, value) in spec">
									<div class="small-2 columns">
										<p><strong>{{key}}</strong></p>
									</div>
									<div class="small-10 columns">
										<p>{{value}}</p>
									</div>
								</div>
								
							</div>
							<p ng-show="!currentcomputer.specs">No specifications for this item.</p>
						</div>
						<ul class="button-group">
							<li><a class="show-specs button" ng-click="showspecs = !showspecs"><span ng-show="!showspecs">Show</span><span ng-show="showspecs">Hide</span> specifications</a></li>
							<li><a class="button" ng-click="addComputertoQuote()">Add to quote</a></li>
						</ul>
						<div class="panel quote-box" ng-show="showQuote" ng-cloak class="ng-cloak">
							<form id="quoteform" action="/includes/send_email_quote.php" method="post" class="safe verify captcha">
								<div class="row">
									<div class="large-7 columns">
										<h4 ng-show="currentpage == 1">Your quote</h4>
										<h4 ng-show="currentpage == 2">Comments about your quote</h4>
										<h4 ng-show="currentpage == 3">Your contact details</h4>
										<h5 ng-show="itemAdded">{{quotelist[quotelist.length - 1].title}} added to quote.</h5>
										<h5 ng-show="itemRemoved">Item removed from quote.</h5>
										<hr>
										<div class="row">
											<div class="small-3 columns">
												<p><strong>Qty</strong></p>
											</div>
											<div class="small-4 columns">
												<p><strong>Name</strong></p>
											</div>
											<div class="small-3 columns">
												<p><strong>Price</strong></p>
											</div>
											<div class="small-2 columns">
												<p><strong>Delete</strong></p>
											</div>
										</div>
										<input type="hidden" name="start_data_fields" value="start_data_fields" />
										<div class="row" ng-repeat="quote in quotelist">
											<div class="small-3 columns">
												<input type="text" name="quantity[]" ng-model="quote.qty" maxlength="2" parsley-required="true">
												
											</div>
											<div class="small-4 columns">
												<input type="hidden" name="title[]" val="" class="quote_title_i">
												<p class="quote_title_p">{{quote.title}}</p>
											</div>
											<div class="small-3 columns">
												<input type="hidden" name="price[]" val="" class="quote_price_i">
												<span class="label quote_price_p">{{((quote.price * quote.qty) | currency) || quote.price}}</span>
											</div>
											<div class="small-2 columns">
												<a ng-click="removeItem()" class="tiny button">X</a>
											</div>
										</div>
										<p ng-show="!quotelist.length" class="text-center">No items in quote.</p>
										<hr>
										<input type="hidden" name="end_data_fields" value="end_data_fields" />
										<input type="hidden" name="total" class="quote_total_i">
										<h2><small>Total:</small> <span class="quote_total_p">{{(total() | currency) || total()}}</span><sup ng-show="totalIncomplete">*</sup></h2>
										<p ng-show="totalIncomplete">* Due to one or more items having no price, total amount is incomplete.</p>
									</div>
									<div class="large-5 columns">
										<div class="step-one" ng-show="currentpage == 1">
											<p>Want to add any add-ons to your quote? Feel free to press the <strong>+</strong> next to the add-ons you want.</p>
										</div>
										<div class="step-two" ng-show="currentpage == 2">
											<label for="comments">Any comments or requests?</label>
											<textarea id="comments" name="comments" placeholder="eg. I need an extra hard drive"></textarea>
										</div>
										<div class="step-three" ng-show="currentpage == 3">
											<label for="name3">Name</label>
											<input type="text" id="name3" name="name" placeholder="eg. Joe Blogs" parsley-required="true">
											
											<label for="email3">Email</label>
											<input type="email" id="email3" name="email" placeholder="eg. joe@newcomputerpls.com" parsley-required="true">
										</div>
									</div>
								</div>
							
								<hr>
								<div class="row">
									<div class="large-6 columns">
										<p><a class="button" ng-class="{disabled: currentpage == 1}" ng-click="decrement()">Go back to previous step</a></p>
									</div>
									<div class="large-6 columns text-right">
										<p>
											<a class="button" ng-class="{disabled: currentpage == 2 && total() == 0 && !totalIncomplete}" ng-hide=" currentpage == pages" ng-click="increment()">Proceed to next step</a>
											<input type="submit"  name="Submit" class="button" ng-class="{disabled: total() == 0 && !totalIncomplete}" ng-show="currentpage == pages" ng-click="submit()" value="Submit">
										</p>
									</div>
								</div>
							</form>
						</div>
						
						<hr>
						<p>If specified operating system is not what you would prefer, please let us know and we will arrange a different option.</p>
					</div>
					<div class="large-4 columns">
						<h4>Add-ons</h4>
						<p>The following are not included by default, but can be added to your order if needed:</p>
						<div class="addons" ng-cloak class="ng-cloak">
							<div class="row" ng-repeat="addon in addons">
								<div class="small-3 large-3 columns">
									<a ng-click="addAddontoQuote($index)" class="small button">+</a>
								</div>
								<div class="small-6 large-7 columns">
									<p>{{addon.title}}</p>
								</div>
								<div class="small-3 large-2 columns">
									<span class="label">{{addon.price | currency}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>

	<hr>

	<section class="repairs-support">
		<div class="row">
			<div class="large-12 columns">
				<a id="repairs"></a>
				<h2 data-magellan-destination="repairs"><small>Repairs <em>&amp;</em> Support</small><br>
				Need computer help?</h2>
				<hr class="small">
				<div class="row">
					<div class="large-6 columns">
						<h3>Is your computer slow or broken?</h3>
						<p><strong>We can help.</strong> We have the tools, the minds and the motivation to get your computer fixed in no time. We will come to you and try and diagnose the problem on the spot (and potentially fix it too), otherwise if it's a big problem we'll take it in and let you know as soon as possible when you find out. Our prices are affordable for everyone and we never rip our customers off. </p>
						<p>
							
						</p>
					</div>
					<div class="large-6 columns">
						<h3>Or do you just need a little bit of help?</h3>
						<p><strong>Our Remote Support service is perfect for you</strong>. If you're at home struggling with something on your computer and you need urgent help then please gives us a call and we can help you without even needing to leave our desks.</p>
						<p>With a remote client, we can connect to your computer and fix the problem from our seats. This will mean us using your mouse while you guide us with your problem (don't worry, it's totally safe).</p>
					</div>
				</div>
				<hr class="small">
				<p>Contact us today and we'll get back to you.</p>
				<p><a href="#contact" class="button">Contact Us</a></p>				
			</div>
		</div>
	</section>

	<hr>

	<section class="contact-us">
		<div class="row">
			<div class="large-12 columns">
				<a id="contact"></a>
				<h2 data-magellan-destination="contact">Contact Us</h2>
				<hr class="small">
				<div class="row">
					<div class="large-6 columns">

						<p>For any enquiries, computer builds, appointments for computer support (remotely or direct) or general feedback - please use the contact form. We will get back to you as soon as possible answering your query as detailed as possible.</p>
					</div>
					<div class="large-6 columns">
						<form parsley-validate action="includes/send_email_contact.php" method="post" enctype="multipart/form-data" class="safe verify captcha">
							<div class="row">
								<div class="small-3 columns">
									<label for="name2" class="inline">Name</label>
								</div>
								<div class="small-9 columns">
									<input required type="text" id="name2" name="name" placeholder="eg. Joe Blogs">
								</div>
							</div>
							<div class="row">
								<div class="small-3 columns">
									<label for="email2" class="inline">Email</label>
								</div>
								<div class="small-9 columns">
									<input type="email" required parsley-type="email" id="email2" name="email" placeholder="eg. joe@ineedhelp.com">
								</div>
							</div>
							<div class="row">
								<div class="small-3 columns">
									<label for="enquiry-type2" class="inline">Enquiry</label>
								</div>
								<div class="small-9 columns">
									<select id="enquiry-type2" name="type">
										<option>General Computer Support</option>
										<option>Computer Repair</option>
										<option>New Computer</option>
										<option>Remote Support</option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="small-12 large-3 columns">
									<label for="appointment" class="inline">Appointment</label>
								</div>
								<div class="small-12 large-9 columns">
									<input type="hidden" name="appointment" id="appointment"/>
									<input type="text" id="appointment-time">
									<label><input type="checkbox" parsley-group="not-required" class="no-appointment"/>No Appointment Needed?</label>
								</div>
							</div>
							<div class="row">
								<div class="small-9 columns small-offset-3">
									
								</div>
							</div>							
							<div class="row">
								<div class="small-3 columns">
									<label for="message2" class="inline">Message</label>
								</div>
								<div class="small-9 columns">
									<textarea id="message2" name="message" placeholder="Please leave message here"></textarea>
								</div>
							</div>
							<input type="submit" name="Submit" value="Submit" class="right button">
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer>
		<hr>
		<div class="row">
			<div class="large-6 columns">
				<p>&copy; Copyright EDGE PCs 2014. All rights reserved.</p>
			</div>
			<div class="large-6 columns text-right">
				<p>Design by <a href="http://jordsta.com">Jordsta</a>.</p>
			</div>
		</div>
	</footer>
	<script src="/build/js/app.min.js"></script>
	<script src="/js/jquery.datetimepicker.js"></script>
</body>
</html>