<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>EDGE PCs | Home</title>
	<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,400italic,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/app.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
	<script src="bower_components/modernizr/modernizr.js"></script>
</head>
<body ng-app>
	<section class="page-header">
		<header data-magellan-expedition="fixed">
			<div class="row">
				<section class="large-3 columns">
					<a href="#" class="logo"><img src="build/images/logo.png" alt="EDGE PCs"></a>
				</section>
				<nav class="large-6 columns">
					<ul class="inline-list right">
						<li data-magellan-arrival="home"><a href="#home">Home</a></li>
						<li data-magellan-arrival="computers"><a href="#computers">Our Computers</a></li>
						<li data-magellan-arrival="repairs"><a href="#repairs">Repairs <em>&amp;</em> Support</a></li>
						<li data-magellan-arrival="contace"><a href="#contact">Contact Us</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div class="overlay">
			
			<div class="row">
				<section class="large-8 columns hero">
					<a name="home"></a>
					<h1 data-magellan-destination="home">Affordable, reliable computer services <em>&amp;</em> sales for the <span>Gold Coast.</span></h1>
					<hr class="small">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, provident, eaque, commodi repellendus sunt aliquam dolorem assumenda officiis cum possimus non accusamus in expedita eos qui voluptas dolore fuga vel?</p>
					<p class="show-for-large"><a href="#" class="button">Read more</a> or if you're in a rush, get in touch &rarr;</p>
					<p class="show-for-medium-down"><a href="#" class="button">Read more</a> or if you're in a rush, get in touch &darr;</p>
				</section>
				<section class="large-4 columns enquiry-form">
					
					<form>
						<div class="row">
							<div class="small-9 small-offset-3 columns">
								<h3>Get in touch now</h3>
							</div>
						</div>
						<div class="row">
							<div class="small-3 columns">
								<label for="name" class="inline">Name</label>
							</div>
							<div class="small-9 columns">
								<input type="text" id="name" placeholder="eg. Joe Blogs">
							</div>
						</div>
						<div class="row">
							<div class="small-3 columns">
								<label for="email" class="inline">Email</label>
							</div>
							<div class="small-9 columns">
								<input type="email" id="email" placeholder="eg. joe@ineedhelp.com">
							</div>
						</div>
						<div class="row">
							<div class="small-3 columns">
								<label for="enquiry-type" class="inline">Enquiry</label>
							</div>
							<div class="small-9 columns">
								<select id="enquiry-type">
									<option>New Computer</option>
									<option>Computer Repair</option>
									<option>Remote Support</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="small-3 columns">
								<label for="message" class="inline">Message</label>
							</div>
							<div class="small-9 columns">
								<textarea id="message" placeholder="(be as specific as you can, please)"></textarea>
							</div>
						</div>
						<input type="submit" class="right button">
					</form>
				</section>
			</div>
		</div>
	</section>

	<section class="our-computers" ng-controller="computerBuild">
		<div class="row">
			<div class="large-12 columns">
				<a id="computers"></a>
				<h2 data-magellan-destination="computers">Our Computers</h2>
				<hr class="small">
				<div class="row computers">
					<div class="large-2 columns">
						<h5>Everyday</h5>
						<hr>
						<a ng-click="getInfo($event)"><img src="build/images/comp1.jpg" alt=""></a>
					</div>
					<div class="large-4 columns">
						<h5>Business</h5>
						<hr>
						<div class="row">
							<div class="small-6 columns">
								<a ng-click="getInfo($event)"><img src="build/images/comp2.jpg" alt=""></a>
							</div>
							<div class="small-6 columns">
								<a ng-click="getInfo($event)"><img src="build/images/comp3.jpg" alt=""></a>
							</div>
						</div>

					</div>
					<div class="large-4 columns">
						<h5>Gaming</h5>
						<hr>
						<div class="row">
							<div class="small-6 columns">
								<a ng-click="getInfo($event)"><img src="build/images/comp4.jpg" alt=""></a>
							</div>
							<div class="small-6 columns">
								<a ng-click="getInfo($event)"><img src="build/images/comp5.jpg" alt=""></a>
							</div>
						</div>
					</div>
					<div class="large-2 columns">
						<h5>Custom</h5>
						<hr>
						<a ng-click="getInfo($event)"><img src="http://placehold.it/350" alt=""></a>
					</div>
				</div>
				<hr>
				<div class="row" ng-cloak class="ng-cloak">
					<div class="large-8 columns">
						<h4 class="computer-name">{{currentcomputer.title}} <span class="label">{{(currentcomputer.price | currency) || currentcomputer.price}}</span></h4>
						<p class="computer-desc">{{currentcomputer.desc}}</p>
						<div class="computer-specs" ng-show="showspecs" ng-cloak class="ng-cloak">
							<div class="row" ng-repeat="spec in currentcomputer.specs">
								<div ng-repeat="(key, value) in spec">
									<div class="small-2 columns">
										<p><strong>{{key}}</strong></p>
									</div>
									<div class="small-10 columns">
										<p>{{value}}</p>
									</div>
								</div>
								
							</div>
							<p ng-show="!currentcomputer.specs">No specifications for this item.</p>
						</div>
						<ul class="button-group">
							<li><a class="show-specs button" ng-click="showspecs = !showspecs"><span ng-show="!showspecs">Show</span><span ng-show="showspecs">Hide</span> specifications</a></li>
							<li><a class="button" ng-click="addComputertoQuote()">Add to quote</a></li>
						</ul>
						<div class="panel quote-box" ng-show="showQuote" ng-cloak class="ng-cloak">
							<form id="quoteform">
								<div class="row">
									<div class="large-7 columns">
										<h4 ng-show="currentpage == 1">Your quote</h4>
										<h4 ng-show="currentpage == 2">Comments about your quote</h4>
										<h4 ng-show="currentpage == 3">Your contact details</h4>
										<h5 ng-show="itemAdded">{{quotelist[quotelist.length - 1].title}} added to quote.</h5>
										<h5 ng-show="itemRemoved">Item removed from quote.</h5>
										<hr>
										<div class="row">
											<div class="small-3 columns">
												<p><strong>Qty</strong></p>
											</div>
											<div class="small-4 columns">
												<p><strong>Name</strong></p>
											</div>
											<div class="small-3 columns">
												<p><strong>Price</strong></p>
											</div>
											<div class="small-2 columns">
												<p><strong>Delete</strong></p>
											</div>
										</div>
										<div class="row" ng-repeat="quote in quotelist">
											<div class="small-3 columns">
												<input type="text" ng-model="quote.qty" maxlength="2" parsley-required="true">
												
											</div>
											<div class="small-4 columns">
												<p>{{quote.title}}</p>
											</div>
											<div class="small-3 columns">
												<span class="label">{{((quote.price * quote.qty) | currency) || quote.price}}</span>
											</div>
											<div class="small-2 columns">
												<a ng-click="removeItem()" class="tiny button">X</a>
											</div>
										</div>
										<p ng-show="!quotelist.length" class="text-center">No items in quote.</p>
										<hr>
										<h2><small>Total:</small> {{(total() | currency) || total()}}<sup ng-show="totalIncomplete">*</sup></h2>
										<p ng-show="totalIncomplete">* Due to one or more items having no price, total amount is incomplete.</p>
									</div>
									<div class="large-5 columns">
										<div class="step-one" ng-show="currentpage == 1">
											<p>Want to add any add-ons to your quote? Feel free to press the <strong>+</strong> next to the add-ons you want.</p>
										</div>
										<div class="step-two" ng-show="currentpage == 2">
											<label for="comments">Any comments or requests?</label>
											<textarea id="comments" placeholder="eg. I need an extra hard drive"></textarea>
										</div>
										<div class="step-three" ng-show="currentpage == 3">
											<label for="name">Name</label>
											<input type="text" id="name" placeholder="eg. Joe Blogs" parsley-required="true">
											
											<label for="email">Email</label>
											<input type="email" id="email" placeholder="eg. joe@newcomputerpls.com" parsley-required="true">
										</div>
									</div>
								</div>
							</form>
							<hr>
							<div class="row">
								<div class="large-6 columns">
									<p><a class="button" ng-class="{disabled: currentpage == 1}" ng-click="decrement()">Go back to previous step</a></p>
								</div>
								<div class="large-6 columns text-right">
									<p>
										<a class="button" ng-class="{disabled: currentpage == 2 && total() == 0 && !totalIncomplete}" ng-hide=" currentpage == pages" ng-click="increment()">Proceed to next step</a>
										<input type="submit" class="button" ng-class="{disabled: total() == 0 && !totalIncomplete}" ng-show="currentpage == pages" ng-click="submit()" value="Submit">
									</p>
								</div>
							</div>
						</div>
						
						<hr>
						<p>All computers come with preinstalled Microsoft Windows 7 Home Premium unless requested.</p>
					</div>
					<div class="large-4 columns">
						<h4>Add-ons</h4>
						<p>The following are not included by default, but can be added to your order if needed:</p>
						<div class="addons" ng-cloak class="ng-cloak">
							<div class="row" ng-repeat="addon in addons">
								<div class="small-3 columns">
									<a ng-click="addAddontoQuote($index)" class="small button">+</a>
								</div>
								<div class="small-7 columns">
									<p>{{addon.title}}</p>
								</div>
								<div class="small-2 columns">
									<span class="label">{{addon.price | currency}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>

	<hr>

	<section class="repairs-support">
		<div class="row">
			<div class="large-12 columns">
				<a id="repairs"></a>
				<h2 data-magellan-destination="repairs"><small>Repairs <em>&amp;</em> Support</small><br>
				Need computer help?</h2>
				<hr class="small">
				<div class="row">
					<div class="large-6 columns">
						<h3>Is your computer slow or broken?</h3>
						<p><strong>We can help.</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, assumenda, cupiditate ipsa magnam velit ipsum ut vel iure consequuntur sunt labore ea! In, eveniet modi doloribus unde deserunt saepe atque.</p>
						<p>Totam, velit, explicabo, illum delectus cumque necessitatibus esse optio quisquam numquam minima illo maiores. Iure, esse, perferendis, repellendus rem perspiciatis sed enim placeat ducimus delectus praesentium necessitatibus voluptas dignissimos alias.</p>
					</div>
					<div class="large-6 columns">
						<h3>Or do you just need a little bit of help?</h3>
						<p><strong>Our Remote Support service is perfect for you</strong>. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, distinctio voluptatibus dolore nulla hic architecto ipsum saepe eveniet ab molestias quis impedit animi sit repellendus odit quisquam omnis et doloribus.</p>
						<p>Ratione, fugiat, commodi, excepturi, nihil facilis in ab repellendus sit nulla facere iusto enim maxime sunt et quia quos quisquam ducimus earum eveniet nemo alias cumque rem numquam asperiores unde.</p>
					</div>
				</div>
				<hr class="small">
				<p>Contact us today and we'll get back to you.</p>
				<p><a href="#contact" class="button">Contact Us</a></p>				
			</div>
		</div>
	</section>

	<hr>

	<section class="contact-us">
		<div class="row">
			<div class="large-12 columns">
				<a id="contact"></a>
				<h2 data-magellan-destination="contact">Contact Us</h2>
				<hr class="small">
				<div class="row">
					<div class="large-6 columns">

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, vitae molestiae sapiente totam odit in praesentium necessitatibus. Nobis, provident, natus eveniet temporibus accusantium dignissimos in expedita quasi aliquid error. Aspernatur.</p>
					</div>
					<div class="large-6 columns">
						<form>
							<div class="row">
								<div class="small-3 columns">
									<label for="name" class="inline">Name</label>
								</div>
								<div class="small-9 columns">
									<input type="text" id="name" placeholder="eg. Joe Blogs">
								</div>
							</div>
							<div class="row">
								<div class="small-3 columns">
									<label for="email" class="inline">Email</label>
								</div>
								<div class="small-9 columns">
									<input type="email" id="email" placeholder="eg. joe@ineedhelp.com">
								</div>
							</div>
							<div class="row">
								<div class="small-3 columns">
									<label for="enquiry-type" class="inline">Enquiry</label>
								</div>
								<div class="small-9 columns">
									<select id="enquiry-type">
										<option>New Computer</option>
										<option>Computer Repair</option>
										<option>Remote Support</option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="small-3 columns">
									<label for="appointment-date" class="inline">Appointment Date</label>
								</div>
								<div class="small-9 columns">
									<input type="date" id="appointment-date">
								</div>
							</div>
							<div class="row">
								<div class="small-3 columns">
									<label for="appointment-time" class="inline">Appointment Time</label>
								</div>
								<div class="small-9 columns">
									<input type="time" id="appointment-time">
								</div>
							</div>
							<div class="row">
								<div class="small-3 columns">
									<label for="message" class="inline">Message</label>
								</div>
								<div class="small-9 columns">
									<textarea id="message" placeholder="(be as specific as you can, please)"></textarea>
								</div>
							</div>
							<input type="submit" class="right button">
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer>
		<hr>
		<div class="row">
			<div class="large-6 columns">
				<p>&copy; Copyright EDGE PCs 2013. All rights reserved.</p>
			</div>
			<div class="large-6 columns text-right">
				<p>Design by <a href="#">Jordsta</a>.</p>
			</div>
		</div>
	</footer>

	<script src="build/js/app.min.js"></script>
</body>
</html>